# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
!.env.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/


!docker/mysql/my.cnf
docker/mysql/
docker/test-mysql-1/
docker/test-mysql-2/

log/

schemaspy/output